#makingAnOrder {
	float: left;
}

#order, #makingAnOrder {
	height: 300px;
}

.top-cnt {
	border: 1px black solid;
}

.list-group {
margin-bottom: 15px;
}
.list-group-item {
    padding: 3px 10px
}

.products-table table tbody {
	overflow: auto;
}