#makingAnOrder {
	float: left;
}

#order, #makingAnOrder {
	height: 500px;
}

.top-cnt {
	border: 1px black solid;
}

.list-group {
margin-bottom: 15px;
}
.list-group-item {
    padding: 3px 10px
}

.products-table {
	height: 280px;
	overflow: auto;
	margin-bottom: 20px;
}

.products-table .close {
	float: none;
	margin-left: 13px;
}

.order-controls button {
	margin-top: 25px;
}